# Clustering Categorical Data

Use features: name and continent. 

- Encode `continent` and use it in the clustering solution.

## Import the relevant libraries

In [5]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# Set the styles to Seaborn
sns.set()

# Import the KMeans module so we can perform k-means clustering with sklearn
from sklearn.cluster import KMeans

## Load the data

Load data from the csv file: <i> 'Categorical.csv'</i>.

In [6]:
df = pd.read_csv('../categorical.csv')
df.head()

          name  Longitude   Latitude      continent
0        Aruba -69.982677  12.520880  North America
1  Afghanistan  66.004734  33.835231           Asia
2       Angola  17.537368 -12.293361         Africa
3     Anguilla -63.064989  18.223959  North America
4      Albania  20.049834  41.142450         Europe

Remove the duplicate index column from the dataset.

In [8]:
df.continent.value_counts().index.tolist()

['Africa',
 'Asia',
 'Europe',
 'North America',
 'Oceania',
 'South America',
 'Seven seas (open ocean)',
 'Antarctica']

## Map the data

Use the <i>'continent'</i> category for this analysis.

In [10]:
df['cont_code'] = df.continent.map({'Africa': 1,
                                     'Asia': 2,
                                     'Europe': 3,
                                     'North America': 4,
                                     'Oceania': 5,
                                     'South America': 6,
                                     'Seven seas (open ocean)': 7,
                                     'Antarctica': 8})

In [12]:
df.sample(10)

                        name   Longitude   Latitude      continent  cont_code
171              Philippines  122.883933  11.775368           Asia          2
189                  Senegal  -14.473492  14.366242         Africa          1
160                     Niue -169.869947 -19.049457        Oceania          5
47                  Colombia  -73.081146   3.913834  South America          6
235    Wallis and Futuna Is. -177.348348 -13.887370        Oceania          5
84                    Greece   22.955558  39.074696         Europe          3
199  St. Pierre and Miquelon  -56.303198  46.919188  North America          4
139                   Mexico -102.523452  23.947537  North America          4
14         Antigua and Barb.  -61.794693  17.277500  North America          4
77                   Georgia   43.507803  42.168558           Asia          2

## Select the features

## Clustering

Use 4 clusters initially.

## Clustering results

## Plot the data

Since you already have all the code necessary, go back and play around with the number of clusters. Try 3, 7 and 8 and see if the results match your expectations.

Simply go back to the beggining of the <b> Clustering </b> section and change <i> kmeans = KMeans(4) </i> to <i> kmeans = KMeans(3) </i>. Then run the remaining cells until the end.